<div class="article-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h4><%= article.title %></h4>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <%= link_to 'Show', article_path(article), class: 'mdl-button mdl-button--color mdl-js-button mdl-js-ripple-effect' %>
  </div>
</div>