<%= content_for :title, 'Listing articles' %>

<div class="mdl-grid">
  <% @articles.each do |article| %>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render partial: 'article', locals: {article: article} %>
      </div>
  <% end %>
</div>
